Editor.suo
cgl/cgl.ncb
cgl/cgl.vcproj.*
e2d/Debug/*
e2d/Release/*
e2d/e2d.ncb
e2d/e2d.vcproj.*
editor/editor.ncb
editor/editor/editor.vcproj.*
editor/editor/GeneratedFiles/*
editor/editor/Debug/*
editor/editor/Release/*
editor/Build/*
editor/Debug/*
editor/Release/*
pg/pg.ncb
pg/pg.vcproj.*
game/Debug/*
game/Release/*
game/game.vcproj.*
r2d/r2d.ncb
r2d/r2d.vcproj.*
Build/*